@import 'reset';
@import 'mixins';
$pcolor: grey;
$articleWidth: 45%;

body {
    font-family: "Segoe UI", 'Proxima Nova', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #2c3235;
    background-color: #f7f5f0;
}

h2 {
    color: $pcolor;
}

p {
    color: $pcolor;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @include prefix-value(display, flex);
    @include prefix-attribute(justify-content, space-between);
    @include prefix-attribute(flex-wrap, wrap);
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        background-color: orange;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 1140px;
        margin: 0 auto;
    }
}
@media(max-width: 1199px) and (min-width: 992px) {
    .container {
        width: 970px;
        background-color: yellow;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 940px;
        margin: 0 auto;
    }
}
@media(max-width: 991px) and (min-width: 768px) {
    .container {
        width: 750px;
        background-color: lightgreen;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 720px;
        margin: 0 auto;
    }
}
@media(max-width: 767px) {
    article {
        margin: 0 2.5%;
        min-width: 95%;
        text-align: center;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }
}

.section {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: #fff;
}

.section-colored {
    background-color: teal;
}

article {
    margin: 2.5% 2.5%;
    width: 45%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
  max-width: 100%;
  height: auto;
}

// .panel-default > .panel-heading {
//     color: #2c3235;
//     background-color: #f7f5f0;
//     border-color: #e9e3d5;
// }
//
// .panel-heading--clickable {
//     cursor: pointer;
// }
//
// .panel-heading {
//     position: relative;
//     display: block;
//     margin: 0;
//     line-height: 1.2;
//     transition: background 200ms ease, box-shadow 200ms ease, border-radius 200ms ease;
// }
//
// .panel-heading {
//     padding: 10px 15px;
//     border-bottom: 1px solid transparent;
//     border-top-right-radius: 2px;
//     border-top-left-radius: 2px;
// }
//
// .icon-down
// {
//    background:url(img/downArrow.png) left top;
//    width:16px;
//    height:16px;
//    display: block;
//    float: left;
// }

.click-to-toggle{
    cursor: pointer
}
